body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, rgba(13, 13, 17, 1) 0%, rgba(80, 130, 180, 1) 100%);
  background-size: 400% 400%;
  color: white;
  cursor: none;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; 
  }
  50% {
    background-position: 100% 50%; 
  }
  100% {
    background-position: 0% 50%; 
  }
}

.cursor {
  width: 15px;
  height: 15px;
  border: 2px solid rgb(212, 86, 139);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: cursorAnimation 1s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, rgba(212, 86, 139, 0.3), transparent);
  z-index: 9999;
}

.cursor::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: rgb(212, 86, 139);
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(212, 86, 139);
}

@keyframes cursorAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    scroll-behavior: smooth;
     
  }
  body {
    cursor: default;
  }

  .cursor {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh; 
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#particles-js {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  pointer-events: none; 
}

.App {
  position: relative;
  z-index: 2; 
 
}



